@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark-one: #0D0C1D;
    --dark-two: #161B33;
    --main-color: #474973;
    --main-color-two: #55588B;
    --light-one: #fff;
    --light-two: #F5F4F6;
}

/* General Styles */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input, textarea {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.text {
    font-size: 1.25rem;
    color: var(--dark-two);
    line-height: 1.6;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 0.85rem 2rem;
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--main-color-two);
}

.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.z-index {
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.overlay .shape {
    width: initial;
    opacity: 0.23;
    position: absolute;
}

.overlay.overlay-lg .shape {
    height: 150px;
}

.section {
    padding: 7rem 0;
}

.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
}

.title {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
}

.title:before {
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.title-sm {
    color: var(--dark-one);
    font-weight: 600;
    font-size: 1.6rem;
}

/* End General Styles */

/* Header */

header {
    width: 100%;
    background-color: var(--light-two);
    overflow: hidden;
    position: relative;
    height: 100vh;
}

nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    display: flex;
    align-items: center;
}

.links ul {
    display: flex;
}

.links a {
    display: inline-block;
    padding: .9rem 1.2rem;
    color: var(--dark-one);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}

.links a.active {
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}

.links a:hover{
    color: var(--main-color-two);
}

.links a.active:hover{
    color: var(--light-one);
    background-color: var(--main-color-two);
}

.header-content .container.grid-2 {
    grid-template-columns: 2.5fr 3.5fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    text-align: left;
}

.header-content {
    font-size: 3.8rem;
    line-height: 0.8;
    color: var(--dark-one);
}

.header-content .text{
    margin: 2.15rem 0;
}

.header-content .image .img-element {
    max-width: 750px;
}

header .sugar1 {
    top: 62%;
    left: 87%;
}

header .sugar2 {
    top: 12%;
    right: 82%;
}

header .dan1 {
    top: 78%;
    right: 71%
}

header .dan2 {
    top: 25%;
    left: 43%;
}

/* End Header */

/* Services */

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card-wrap {
    margin: 0.8rem 0.6rem;
}

.card {
    position: relative;
    width: 100%;
    min-width: 390px;
    max-width: 390px;
    min-height: 520px;
    background-color: var(--light-two);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    overflow: hidden;
    transition: 0.3s;
}

.card:before {
    content: attr(data-card);
    position: absolute;
    top: 15px;
    right: -125px;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1;
    color: var(--main-color);
    opacity: 0.05;
}

.card:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    background-color: var(--main-color);
    transition: 0.3s;
}

.card-wrap:hover .card {
    transform: translateY(-15px);
}

.card-wrap:hover .card:after {
    height:8px;
}

.icon {
    width: 250px;
    margin-bottom: 1.2rem;
}

.card .title-sm {
    line-height: 0.8;
}

.card .text {
    font-size: 1.15rem;
    margin: 1.2rem 0;
}

.btn.small {
    position: absolute;
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
    left: 50%;
    top: 87%;
    transform: translateX(-50%);
}

/* End Services */